body {
  background: #b8c578;
  font-family: sans-serif;
}

.app {
  max-width: 500px;
  margin: 50px auto;
  background: rgb(244, 238, 238);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5em;
}

textarea {
  width: 100%;
  font-size: 1.1em;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: none;
}

.stats {
  margin-top: 20px;
  font-size: 1.2em;
  text-align: center;
}
